.top-buffer {
  margin-top: 40px;
}

#txt1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#txt2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#txt3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.frm1 {
  margin: "10px";
  color: text-light;
}

.hr1 {
  height: 3px;
  color: white;
  background-color: white;
  border: none;
}
